@model Restaurant
@{
    ViewBag.Title = "Create";
}
<div class="row mt-4 mb-4 py-4">
    <div class="col-lg-6">
        <div class="card">
            <div class="card-header">
                <h1 class="text-center">Create restaurant</h1>
            </div>
            <div class="card-body">
                <form id="restaurant">
                    <div class="form-group">
                        <label class="form-check-label" asp-for="UserId">Admin:</label>
                        <select class="form-control" id="adminSelector">
                            <option selected disabled>Choose admin</option>
                        </select>
                        <span class="text-danger" asp-validation-for="UserId"></span>
                    </div>
                    <div class="form-group">
                        <label class="form-check-label" asp-for="Name">Name:</label>
                        <input type="text" class="form-control" asp-for="Name" />
                        <span class="text-danger" asp-validation-for="Name"></span>
                    </div>
                    <div class="form-group">
                        <label class="form-check-label" asp-for="Description">Description:</label>
                        <textarea class="form-control" rows="7" placeholder="Description" asp-for="Description"></textarea>
                        <span class="text-danger" asp-validation-for="Description"></span>
                    </div>
                    <div class="form-group">
                        <label class="form-check-label" asp-for="CoverURL">Cover URL:</label>
                        <input asp-for="CoverURL" type="text" class="form-control" placeholder="Image must be in format 700x400" />
                        <span class="text-danger" asp-validation-for="CoverURL"></span>
                    </div>
                    <div class="form-group">
                        <label class="form-check-label" asp-for="Specialities1">Breakfast delights:</label>
                        <input type="text" class="form-control" asp-for="Specialities1" />
                        <span class="text-danger" asp-validation-for="Specialities1"></span>
                    </div>
                    <div class="form-group">
                        <label class="form-check-label" asp-for="Specialities2">Lunch delights:</label>
                        <input type="text" class="form-control" asp-for="Specialities2" />
                        <span class="text-danger" asp-validation-for="Specialities2"></span>
                    </div>
                    <div class="form-group">
                        <label class="form-check-label" asp-for="Specialities3">Dinner delights:</label>
                        <input type="text" class="form-control" asp-for="Specialities3" />
                        <span class="text-danger" asp-validation-for="Specialities3"></span>
                    </div>
                    <a class="btn btn-outline-secondary" asp-controller="Restaurant" asp-action="Index">Cancel</a>
                    <button class="btn btn-primary float-right" id="submit">Submit</button>
                </form>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <img src="~/img/addNew.jpg" class="img-thumbnail img-fluid" />
    </div>
</div>
<script>
    $.ajax({
        url: "/Restaurant/GetAllAdmins",
        type: "GET",
        success: function (data) {
            data.forEach(function (object) {
                $('#adminSelector').append(`<option value="${object.id}">${object.userName}</option>`)
            });
        },
        error: function (error) {
            console.error(error);
        }
    });

    $('#submit').on('click', function (e) {
        e.preventDefault();
        var formData = $('#restaurant').serialize();
        var formStatus = $('#restaurant').validate().form();

        if (formStatus) {
            $.ajax({
            type: "POST",
            url: "/Restaurant/Create",
            data: formData,
            success: function (data) {
                window.location.href="/Restaurant/Index"
            },
            error: function (error) {
                console.log(error);
            }
        });
        }        
    });
</script>